/* Use prism-gh.css borders on top of prism-onelight.css */
/* Code blocks */
pre[class*="language-"] {
  @apply border !important;
  @apply bg-gray-50 !important;
}

.rehype-code-title {
  font-size: 14px; /* same as .prose code (0.875em) */
  margin-bottom: -7px; /* cancel out code blocks top margin (1em) */
  margin-top: 7px; /* re-apply code blocks top margin above title (1em) */
  @apply font-mono font-bold;
}

.rehype-code-title::before {
  content: '📄 ';
}
